.content-enter {
  opacity: 0;
}
.content-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.content-exit {
  opacity: 1;
}
.content-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.content-container {
  text-align: center;
  margin: 20px;
}
